@{
    ViewBag.Title = "Home Page";
}

 <div id="cover"></div> <div id="odvajanje"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12" id="naslov-home">
            <h1>Best software solution for you.</h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <h3 class="text-cener">Mobile Strategy</h3>
            <p>
                We dive into your business model, market challenges, and product positioning, helping you create a product that delivers unique value.
            </p>
        </div>
        <div class="col-lg-4">
            <h3 class="text-cener">Product Design</h3>
            <p>
                Our Product Design team cares for your user’s experience over the entire customer journey, at every touchpoint with your company.
            </p>
        </div>
        <div class="col-lg-4">
            <h3 class="text-cener">App Development</h3>
            <p>
                Our teams stay lean and rapidly deploy customized solutions for each client while constantly learning from and challenging each other.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4">
            <h3 class="text-cener">Mobile Marketing</h3>
            <p>
                We carefully craft every single app to give the end-user the best product experience possible, every time they engage—no matter the platform, device, or channel.
            </p>
        </div>
        <div class="col-lg-4">
            <h3 class="text-cener">Web Development</h3>
            <p>
                The modern web isn’t just for static websites and content. It’s the most open, flexible, and immediately accessible application runtime available today.
            </p>
        </div>
        <div class="col-lg-4">
            <h3 class="text-cener">Prototyping</h3>
            <p>
                Our Silicon Valley mindset of rapid prototyping combines with user research and iteration to achieve breakthrough results in short engagements.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12" id="naslov-home">
            <h1>We partner with the world’s technology <br />leaders.</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 partneri text-center">
            <img class="text-cener" src="../images/comtrade.png" alt="CT" />
            <h3><a href="http://www.its.edu.rs/">Comtrade</a><h3>
        </div>

        <div class="col-lg-6 partneri text-center">
            <img class="text-cener" src="../images/linkgroup.png" alt="link" />
            <h3><a href="http://www.link.co.rs/">Link Group</a><h3>
        </div>

    </div>

</div>
